[Unit]
Description=VPN Subscription Service (Uvicorn)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alex
Group=alex
WorkingDirectory=/opt/vpn

Environment=ADMIN_CREDENTIALS_FILE=/var/lib/ches_vpn/admin.env
EnvironmentFile=/opt/vpn/.env.systemd

ExecStart=/opt/vpn/.venv/bin/uvicorn subscription_service.main:app \
  --host 0.0.0.0 --port 33333 \
  --proxy-headers --forwarded-allow-ips='*' \
  --ssl-certfile /etc/letsencrypt/live/ches-server.mooo.com/fullchain.pem \
  --ssl-keyfile  /etc/letsencrypt/live/ches-server.mooo.com/privkey.pem

Restart=always
RestartSec=3

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
ReadWritePaths=/var/lib/ches_vpn
UMask=0077

[Install]
WantedBy=multi-user.target
