[Unit]
Description=VPN Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alex
Group=alex
WorkingDirectory=/opt/vpn

EnvironmentFile=/opt/vpn/.env.systemd
Environment=PYTHONUNBUFFERED=1

ExecStart=/opt/vpn/.venv/bin/python -m bot.main

Restart=always
RestartSec=3

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
